body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:124px;
}
#u4221 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:169px;
  width:148px;
  height:124px;
  opacity:0.5;
}
#u4222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:70px;
  color:#777777;
}
#u4224 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:162px;
  width:546px;
  height:80px;
  font-size:70px;
  color:#777777;
}
#u4225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  white-space:nowrap;
}
#u4226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#777777;
}
#u4226 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:304px;
  width:502px;
  height:103px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#777777;
}
#u4227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  white-space:nowrap;
}
#u4228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4229 {
  position:fixed;
  right:50px;
  top:110px;
}
#u4229_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:430px;
  background-image:none;
}
#u4229_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:430px;
}
#u4230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:430px;
  opacity:0.1;
}
#u4231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:207px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  overflow:hidden;
}
#u4233_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u4233_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4234 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:9px;
  width:32px;
  height:32px;
}
#u4235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:38px;
}
#u4236 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:7px;
  width:1px;
  height:37px;
}
#u4237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1200px;
  height:1px;
  overflow:hidden;
}
#u4238_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
}
#u4238_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u4239 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:7px;
  width:37px;
  height:37px;
}
#u4240 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Source Sans Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4241 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:16px;
  width:22px;
  height:15px;
  font-family:'Source Sans Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
