body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:124px;
}
#u4199 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:169px;
  width:148px;
  height:124px;
  opacity:0.5;
}
#u4200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:110px;
  color:#777777;
}
#u4202 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:162px;
  width:380px;
  height:127px;
  font-size:110px;
  color:#777777;
}
#u4203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  white-space:nowrap;
}
#u4204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#777777;
}
#u4204 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:304px;
  width:405px;
  height:41px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#777777;
}
#u4205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  white-space:nowrap;
}
#u4206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4207 {
  position:fixed;
  right:0px;
  top:110px;
}
#u4207_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:447px;
  height:478px;
  background-image:none;
}
#u4207_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:416px;
}
#u4208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:478px;
  height:416px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.1;
}
#u4209 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:200px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  overflow:hidden;
}
#u4211_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u4211_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4212 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:9px;
  width:32px;
  height:32px;
}
#u4213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:38px;
}
#u4214 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:7px;
  width:1px;
  height:37px;
}
#u4215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1200px;
  height:1px;
  overflow:hidden;
}
#u4216_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
}
#u4216_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u4217 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:7px;
  width:37px;
  height:37px;
}
#u4218 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Source Sans Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4219 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:16px;
  width:22px;
  height:15px;
  font-family:'Source Sans Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
